.utilities {
    & > h2 {
        margin-bottom: 20px;
    }

    &-heading {
        & > h3 {
            padding-bottom: 10px;
            border-bottom: 1px solid #ccc;
        }
    }
}

.groups-utilities {
    padding: 20px;
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
